/node_modules
/public/hot
/public/storage
/public/api-doc
/storage/*.key
/storage/app/settings.json
/vendor
/.idea
/composer.lock
.env
.env.backup
.env.testing
.env.dusk.local
/resources/js/env.js
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/build
public/fonts
public/js
public/css
public/mix-manifest.json
npm-debug.log
.php_cs.cache
*.swp
/storage/framework/views/011ac5c3fc8bb2fd56c323f5510bae609400be4b.php
/storage/logs/laravel.log
/storage/framework/sessions/NsZ5rK9fnhHVhoJEjQ5rBkisJlmRy7652rGsb3wC
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/storage/framework/sessions/CWrDXvmBPSAPU52WP5hHUcvJedBUnGA4uGqpvhuf
